<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>I'm Jean-sam</title>

    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Bad+Script&family=Edu+AU+VIC+WA+NT+Hand&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.0/gsap.min.js"
      defer
    ></script>
    <script src="animation.js" defer></script>
  </head>
  <body>
    <header class="headercontent" id="Home">
      <div class="bylinux"><span>By</span><strong>Linux Logos</strong></div>
      <nav class="navcontent">
        <ul>
          <li><a href="#Home">Home</a></li>
          <li><a href="#">Skills</a></li>
          <li><a href="#Services">Services</a></li>
          <li><a href="#">Projects</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
      <div class="socialmedia">
        <ul>
          <li>
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa-brands fa-tiktok"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa-brands fa-linkedin"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
          </li>
        </ul>
      </div>
      <div class="iconenave">
        <a href="#"><img src="menu.png" alt="Icone of menu" /></a>
      </div>
    </header>

    <main>
      <section class="presentation">
        <div class="myname">
          <p>I'm</p>
          <p>Jean-sam Amétépé</p>
          <p>Web Developer</p>
          <p>Network and System Administrator</p>
          <p>UX/UI Designer</p>
          <p id="contactme"><a href="#">Contact me</a></p>
        </div>
      </section>

      <section class="skills-component" id="Services">
        <h2 class="navstep">Skills</h2>
        <div class="servicescontaint">
          <div class="servicescomponent">
            <div><img src="code.png" alt="Icon of coding" /></div>
            <div class="skills">Coding</div>
            <ul>
              <li class="codinglangage">Python / <span>Django</span></li>
              <li class="codinglangage">JavaScript / <span>React JS</span></li>
            </ul>
          </div>
          <div class="servicescomponent">
            <div><img src="computer.png" alt="Icon of network" /></div>
            <div class="skills">Network & System</div>
            <ul>
              <li class="codinglangage">Network & Server Administrator</li>
            </ul>
          </div>
          <div class="servicescomponent">
            <div><img src="ui-ux.png" alt="Icon of UI/UX Design" /></div>
            <div class="skills">UI/UX Design</div>
            <ul>
              <li class="codinglangage">Figma & Adobe XD</li>
            </ul>
          </div>
          <div class="servicescomponent">
            <div><img src="network.png" alt="Icon of security system" /></div>
            <div class="skills">Security System</div>
            <ul>
              <li class="codinglangage">Camera & Biometric Security Systems</li>
            </ul>
          </div>
        </div>
      </section>
      <section class="services">
        <h2 class="navstep">Services</h2>
        <div class="services-details">
          <div class="services-images">
            <img src="office.png" alt="Image of dev office" />
            <div class="title-services">
              <h5>Title of services</h5>
              <p class="description-services">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Blanditiis quo quas quos porro minus nemo qui natus. Quod
                exercitationem neque quisquam incidunt, nisi laboriosam aliquid
                vero minus ex culpa consequatur!
              </p>
              <p class="subdescription">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Doloremque repudiandae ducimus itaque placeat nemo, natus
                consequuntur amet assumenda asperiores dolores a? Reprehenderit
                magni qui, error autem cum placeat rerum quaerat. Lorem ipsum
                dolor sit amet consectetur adipisicing elit. Doloremque
                repudiandae ducimus itaque placeat nemo, natus consequuntur amet
                assumenda asperiores dolores a? Reprehenderit magni qui, error
                autem cum placeat rerum quaerat.
              </p>
            </div>
          </div>
        </div>
        <div class="services-details">
          <div class="services-images">
            <div class="title-services">
              <h5>Title of services</h5>
              <p class="description-services">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Blanditiis quo quas quos porro minus nemo qui natus. Quod
                exercitationem neque quisquam incidunt, nisi laboriosam aliquid
                vero minus ex culpa consequatur!
              </p>
              <p class="subdescription">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Doloremque repudiandae ducimus itaque placeat nemo, natus
                consequuntur amet assumenda asperiores dolores a? Reprehenderit
                magni qui, error autem cum placeat rerum quaerat. Lorem ipsum
                dolor sit amet consectetur adipisicing elit. Doloremque
                repudiandae ducimus itaque placeat nemo, natus consequuntur amet
                assumenda asperiores dolores a? Reprehenderit magni qui, error
                autem cum placeat rerum quaerat.
              </p>
            </div>
            <img src="8uR1bzOZCJ.png" alt="Image of dev office" />
          </div>
        </div>
        <div class="services-details">
          <div class="services-images">
            <img src="kPUseRauLc.png" alt="Image of dev office" />
            <div class="title-services">
              <h5>Title of services</h5>
              <p class="description-services">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Blanditiis quo quas quos porro minus nemo qui natus. Quod
                exercitationem neque quisquam incidunt, nisi laboriosam aliquid
                vero minus ex culpa consequatur!
              </p>
              <p class="subdescription">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Doloremque repudiandae ducimus itaque placeat nemo, natus
                consequuntur amet assumenda asperiores dolores a? Reprehenderit
                magni qui, error autem cum placeat rerum quaerat. Lorem ipsum
                dolor sit amet consectetur adipisicing elit. Doloremque
                repudiandae ducimus itaque placeat nemo, natus consequuntur amet
                assumenda asperiores dolores a? Reprehenderit magni qui, error
                autem cum placeat rerum quaerat.
              </p>
            </div>
          </div>
        </div>
        <div class="services-details">
          <div class="services-images">
            <div class="title-services">
              <h5>Title of services</h5>
              <p class="description-services">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Blanditiis quo quas quos porro minus nemo qui natus. Quod
                exercitationem neque quisquam incidunt, nisi laboriosam aliquid
                vero minus ex culpa consequatur!
              </p>
              <p class="subdescription">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Doloremque repudiandae ducimus itaque placeat nemo, natus
                consequuntur amet assumenda asperiores dolores a? Reprehenderit
                magni qui, error autem cum placeat rerum quaerat. Lorem ipsum
                dolor sit amet consectetur adipisicing elit. Doloremque
                repudiandae ducimus itaque placeat nemo, natus consequuntur amet
                assumenda asperiores dolores a? Reprehenderit magni qui, error
                autem cum placeat rerum quaerat.
              </p>
            </div>
            <img src="pu7UDVpDq5.png" alt="Image of dev office" />
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
